* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: rgba(16, 20, 30, 1);
}
.link-no-underline {
  text-decoration: none;
}
body {
  padding: 1.6rem;
  @media (min-width: 775px) {
    padding: 2.5rem;
  }
  @media (min-width: 1440px) {
    padding: 2.5rem;
    padding-left: 15.2rem;
  }
}
